.countries__item {
    cursor: pointer;
    margin-bottom: 25px;
}

.countries__card {
    width: 320px;
    height: 220px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.countries__info {
    position: absolute;
    background-color: #FFFFFF;
    bottom: 0;
    width: 100%;
    height: 29%;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
}

.countries__image {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.countries__flag {
    height: 40px;
    width: 60px;
}

.countries__details {
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.countries__name {
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(14, 135, 235);
}

.active .countries__info {
    background-color: rgb(14, 135, 235);
    color: #FFFFFF;
}

.active .countries__name {
    color: #FFFFFF;
}

.countries__continent {
    display: block;
    margin-top: 4px;
}

@media (max-width: 500px) {
    .countries__card {
        max-width: 320px;
        width: 100%;
    }
}